{% extends "app/layout.html" %}

{% load leaflet_tags %}

{% load geojson_tags %}

{% block content %}

{% leaflet_map "main" callback="window.main_map_init" %}

<style>
.leaflet-container {  /* all maps */
    width:  100%;
    /* height: calc(100vh - 60px); */
    height: 100vh;
}

.legend, .temporal-legend {
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:whitesmoke;
}

#legendTitle {
    text-align: center;
    margin-bottom: 15px;
    color: whitesmoke;
    /* font-variant: small-caps; */
    font-weight: bold;
}

.symbolsContainer {
    float: left;
    margin-left: 50px;
}

.legendCircle {
    border-radius:50%;
    border: 1px solid #537898;
    background: rgba(0,128,128,0.5);
    display: inline-block;
}

.legendValue {
    position: absolute;
    right: 12px;
    color:whitesmoke;
    font-size:10pt;
    text-align:center;
    font-weight: bold;
}

.info {
    width:30vw;
    height:48vh;
    /* width:20vw; */
    /* height:300px; */
    padding: 6px 10px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:whitesmoke;
    /* max-width:100%;
    max-height:100%; */
}

.info h6 {
    margin: 0 0 5px;
    color: #777;
    text-align: center;
    /* margin-bottom: 15px; */
    color: whitesmoke;
    /* font-variant: small-caps; */
    font-weight: bold;
}

.info #horBarChart {
    width: 100% !important;
    max-width: 800px;
    /* height:inherit; */
}

.leaflet-control-layers {
    float:right;
    top:500px;
    right:0;
    /* margin-left:-200px; */
    position:absolute;
    background: rgba(0,0,0,0.85);
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
    border-radius: 5px;
    color:whitesmoke;
}
</style>

<script type="text/javascript">
  function main_map_init(map, options) {

    var button = new L.Control.Button('Menu', {
        toggleButton: 'active',
        position: 'topleft',
    });

    button.addTo(map);

    button.on('click', function() {
        sidebar.toggle();
    });

    var sidebar = L.control.sidebar('sidebar', {
        closeButton: true,
        position: 'left'
    }).addTo(map);











  }
</script>

{% endblock %}
